body {
    background-color:#f7f7f7;
}
#divBrain {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#divBottomRight{
    position: absolute;
    top:  90%;
    left: 90%;
    transform: translate(-90%,-90%);
}